# Node server
PORT=5000

# MongoDB Atlas/local connection string
MONGODB_URI=mongodb+srv://krupashetty004_db_user:axZZtxfkiHIteotY@cluster0.ntx0avj.mongodb.net/

# Absolute or repo-relative path to Firebase service account key JSON
# Example: ./serviceAccountKey.json
FIREBASE_SERVICE_ACCOUNT_PATH=.C:\Users\Admin\Documents\khel-khoj-ai-1\khel-khoj-ai-firebase-adminsdk-fbsvc-7eeffc812e.json

# Python FastAPI + Celery base URL
FASTAPI_BASE_URL=http://localhost:8000

# Local uploads directory for videos
UPLOAD_DIR=./datasets/uploads

# Path where python-api reads videos from
PY_VIDEO_DIR=./python-api/video_input
